<!-- Datatables -->
<link href="/public/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/public/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/public/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/public/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/public/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <a href="/dashboard">
                <h3>Dashboard</h3>
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <%= pemilihanDisini.namaPemilihan %> <small><%= pemilihanDisini.statusPemilihan %> </small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-thumb-tack"></i> Pemilihan <small>Float left</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="edit-link" style="color: green;"><i class="fa fa-edit"></i></a>
                                    </li>

                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>URL Pemilihan</th>
                                            <th>
                                                <a href="/pemilihan/<%= pemilihanDisini.slug %> ">https://<%= pemilihanDisini.host %>/<%= pemilihanDisini.slug %> </a>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Berlangsung</th>
                                            <td>
                                                <div id="berlangsung">
                                                    <%= pemilihanDisini.waktuAwal %>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Berakhir</th>
                                            <td>
                                                <div id="berakhir">
                                                    <%= pemilihanDisini.waktuAkhir %>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Sifat</th>
                                            <td>
                                                <%= (pemilihanDisini.pemilihanTerbuka ? 'Terbuka' : 'Tertutup') %>
                                            </td>

                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                Mode Grup
                                                <button type="button" class="btn btn-default ml-5" style="border: none; padding: 0px 0px 0px 0px;" onclick="new PNotify({
                                            title: 'Mode Grup',
                                            text: 'Artinya membuat beberapa grup yang bisa dipilih oleh Pemilih dalam 1 saja pemilihan, contohnya group Pemilihan Presiden dan group Pemilihan DPR',
                                            type: 'info',
                                            styling: 'bootstrap3'
                                        });"><i class="fa fa-exclamation-circle"></i></button>
                                            </th>
                                            <td>
                                                <%= (pemilihanDisini.modeGroup ? 'Ya' : 'Tidak') %>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Status Pemilihan</th>
                                            <td>
                                                <div id="sifatPemilihan">
                                                    <%= pemilihanDisini.statusPemilihan %>
                                                </div>
                                                <div id="countdown"></div>
                                            </td>

                                        </tr>
                                        <% if (pemilihanDisini.deskripsi) { %>

                                            <tr>
                                                <th scope="row">Deskripsi</th>
                                                <td>
                                                    <%= pemilihanDisini.deskripsi %>
                                                </td>

                                            </tr>
                                            <% } %>
                                                <% if (pemilihanDisini.fotoKampanye) { %>

                                                    <tr>
                                                        <th scope="row">Foto Lembaga</th>
                                                        <td>
                                                            <%= pemilihanDisini.fotoKampanye %>
                                                        </td>

                                                    </tr>
                                                    <% } %>
                                                        <% if (pemilihanDisini.videoKampanye) { %>

                                                            <tr>
                                                                <th scope="row">Video Kampanye</th>
                                                                <td>
                                                                    <%= pemilihanDisini.videoKampanye %>
                                                                </td>

                                                            </tr>
                                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>


                    <form id="demo-form2" action="/dashboard/tambah-pemilihan" method="post" class="form-horizontal form-label-left">

                    </form>


                    <br>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-user"></i> Calon yang Akan dipilih <small>Float left</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-4 col-xs-12 widget widget_tally_box">
                                    <div class="x_panel fixed_height_390">
                                        <div class="x_content">

                                            <div class="flex">
                                                <center>

                                                    <img src="/public/production/images/user.png" alt="..." class="img-circle profile_img">
                                                </center>





                                            </div>

                                            <h3 class="name">Musimbi</h3>

                                            <div class="flex">
                                                <ul class="list-inline count2">
                                                    <li>
                                                        <h3>123</h3>
                                                        <span>Articles</span>
                                                    </li>
                                                    <li>
                                                        <h3>1234</h3>
                                                        <span>Followers</span>
                                                    </li>
                                                    <li>
                                                        <h3>123</h3>
                                                        <span>Following</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p>
                                                If you've decided to go in development mode and tweak all of this a bit, there are few things you should do.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-users"></i> Pemilih <small>Float left</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30">
                                        The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                                    </p>
                                    <table id="datatable-buttons" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var waktuPelaksanaan = <%- JSON.stringify({
          awal: pemilihanDisini.waktuPelaksanaan.awal,
          akhir: pemilihanDisini.waktuPelaksanaan.akhir,
          slug:pemilihanDisini.slug
        }) %>
    </script>