<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <a href="/dashboard">
                    <h3>Dashboard</h3>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Profil<small></small></h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img id="idfoto" class="img-responsive avatar-view" src="/<%= user.foto %>" alt="Avatar" title="Change the avatar">
                                </div>
                            </div>
                            <h3 id="idnama">
                                <%= user.nama %>
                            </h3>
                            <form enctype="multipart/form-data" method="POST" action="/dashboard/update-foto-profil">

                                <label class="btn btn-success" for="gantiFoto">
                              <i class="fa fa-edit m-right-xs"></i>Edit Profile
                              <input accept="image/*" style="display: none;" type="file" name="gantiFoto" id="gantiFoto" onchange="this.form.submit()">
                            </form>
                    </label>

                                <br />

                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Profil</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Ganti Kata Sandi</a>
                                    </li>

                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                        <!-- start recent activity -->
                                        <form id="updateProfile" class="row" action="javascript:updateProfile();" method="post">
                                            <div class="col-md-12 col-xs-12" style="margin: 10px 0px 10px 0px;">
                                                <label for="nama">Nama</label>
                                                <input class="form-control" type="text" name="nama" id="nama" value="<%= user.nama %>">
                                            </div>
                                            <div class="col-md-6 col-xs-12" style="margin: 10px 0px 10px 0px;">
                                                <label for="email">Email</label>
                                                <input class="form-control" type="email" disabled id="email" value="<%= user.email %>">
                                            </div>
                                            <div class="col-md-6 col-xs-12" style="margin: 10px 0px 10px 0px;">
                                                <label for="nohp">No. Handphone</label>
                                                <input type="text" name="nohp" id="nohp" class="form-control" data-inputmask="'mask' : '9999-9999-9999'" value="<%= user.nohp %>">
                                            </div>
                                            <div class="col-md-12 col-xs-12" style="margin: 10px 0px 10px 0px;">
                                                <button class="btn btn-success" name="simpan" type="submit" style="display: inline;"> Simpan</button>
                                            </div>
                                        </form>
                                        <!-- end recent activity -->

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                        <div class="col-md-10 center-margin" style="margin-top: 30px;">
                                            <form id="gantiSandi" action="javascript: gantiSandi()" class="form-horizontal form-label-left">
                                                <div class="form-group" style="margin: 20px 0px 20px 0px;">
                                                    <label for="sandiBaru">Kata Sandi Baru</label>
                                                    <input type="password" class="form-control" name="sandiBaru" id="sandiBaru" placeholder="Sandi Baru">
                                                </div>

                                                <div class="form-group" style="margin: 10px 0px 10px 0px;">
                                                    <label for="sandiLama">Kata Sandi Lama</label>
                                                    <input type="password" class="form-control" name="sandiLama" id="sandiLama" placeholder="Sandi Lama">
                                                </div>
                                                <button class="btn btn-info" style="display: inline;" id="btnUbahSandi" name="btnUbahSandi" type="submit">Ubah</button>
                                                <h3 id="errorSandi" class="text-danger" style="display: inline;"></h3>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->